.nav-link {
    transition: all 0.3s ease-in-out;
}

.nav-link.active {
    font-weight: bold;
    
}

.nav-link:hover {
    transform: scale(1.1);
}

.kontakt {
    transition: all 0.3s ease-in-out;
}

.kontakt:hover {
    transform: scale(1.1);
}

#scrolltop {
    position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        display: none;
        color: #ff8300;
}

#scrolltop:hover {
    cursor: pointer;
}

.bg-black {
    background-color: #000000;
    color: #ffffff;
}

.bg-custom {
    background-color: #003366;
}

.btn-orange {
    background-color: #ff8300;
    color: #fff;
    border-color: #ff8300;
}

.btn-orange:hover {
    background-color: #e65c00;
    border-color: #e65c00;
    color: #fff;
}

.dark-mode {
    background-color: black;
    color: #ffffff;
}

body.dark-mode .navbar {
    background-color: black;
    color: #ffffff;
}

body.dark-mode .card-body {
    background-color: black;
    color: #ffffff;
}

body.dark-mode .user-profile input {
    background-color: black;
    color: #ffffff;
}

#scrolltop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 30px;
    background-color: #ff8300;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAe1BMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////NgkbwAAAAKHRSTlMAAQIDDRITFBcdHh8gIyQlJjdDREx1d4CCg4WXmpu5urzZ6e3v+fv9pStiuwAAAI9JREFUOE/dylkWgkAMRNFqUXEW53kC1Ox/hWKOtG3SZgHkq3LuAxp4q7xv+oboPrDdLNiNYktkFt7/FIFHix+viqHwHYkThffr7Bkrvp4gixT7wIHsURcj6ZeE/6kopMtirTwsUuCmHZjUxRxIS17n0H1xctXultqB8bs4Ot6dQjsXB/fZ7WVLOdBbODTmXgKJJx7c/fm3AAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
    display: block;
    z-index: 9999;
}





